<!DOCTYPE html>
<html><!-- put manifest to home controller manifest action -->
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/lib/jquery-1.7.1.min.js")" type="text/javascript"></script>
    @RenderSection("scripts", false)
</head>
<body>
    <div class="wrapper">
        <div id="container">
            <header>
                <hgroup>
                    <h1>Grocery Store List</h1>
                </hgroup>
            </header>
            <section class="main">
                @RenderBody()
            </section>
        </div>
    </div>
</body>
</html>
